* {
    font-family: 'Times New Roman', Times, serif;
}

.teng {
    display: flex;
    justify-content: center;
}

.identitas {
    display: flex;
    flex-direction: row;
    border: 1px solid ;
    border-radius: 10px;
    box-sizing: 1cm;
    padding: 30px 30px;
    
}

.ay {
    width: auto;
    height: 300px;
}

.text {
    padding: 0 0 0 20px;
    margin-top: 10px;
}

.deskripsi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.pisah {
    padding: 0 0 0 40px;
}